
.faq__listbox{
    -moz-box-shadow:    inset 0 0 5px #cccccc;
    -webkit-box-shadow: inset 0 0 5px #cccccc;
    box-shadow:         inset 0 0 5px #cccccc;
    border-radius: 5px;
    padding: 15px 30px;
    width: 300px;
    min-width: 300px;
    min-height: 415px;
    max-height: 415px;
    overflow-y: scroll;
}

.faq__editOrder{
    width: 650px;
    min-width: 650px;
}

.faq__form{
    padding: 0 50px;   
}


@media only screen and (max-width:550px) {
    .faq__listbox{
        min-height: 200px;
        max-height: 200px;
    }

    .faq__editOrder{
        width: 300px;
        min-width: 300px;
    }

    .faq__form{
        padding: 10px 0px;   
    }
       
}